<div class="create-character-container">
    <div class="character-tile">
        <button class="class-btn warr-btn" role="warrior"></button>
        <button class="class-btn arch-btn" role="archer"></button>
        <button class="class-btn mage-btn" role="mage"></button>
    </div>

    <div class="character-description">
        <p>Select your desired role.</p>
    </div>

    <form class="form new-character-form" hidden>
        <p>NAME YOUR CHARACTER</p>
        <input class="form-input" type="text" id="character-name" name="character-name"/>
        <button type="submit">CREATE</button>
    </form>

    {{!-- Modal for alerts --}}
    <div id="alertModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Character</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script src="../../js/create.js"></script>