<div class="character-tile">
    <button role="warrior">Warrior</button>
    <button role="archer">Archer</button>
    <button role="mage">Mage</button>
</div>

<div class="character-description">
    <p>Character description here on tile click.</p>
</div>

<div class="name-character">
    <button>NAME YOUR CHARACTER</button>
</div>

<script src="../../js/create.js"></script>