<div class="create-character-container">
    <div class="character-tile">
        <button class="class-btn warr-btn" role="warrior"></button>
        <button class="class-btn arch-btn" role="archer"></button>
        <button class="class-btn mage-btn" role="mage"></button>
    </div>

    <div class="character-description">
        <p>Select your desired role.</p>
    </div>

    <div class="name-character">
        <button id="name-btn" hidden>NAME YOUR CHARACTER</button>
    </div>
</div>


<script src="../../js/create.js"></script>