<div class="create-character-container">
    <div class="character-tile">
        <button class="class-btn warr-btn" role="warrior"></button>
        <button class="class-btn arch-btn" role="archer"></button>
        <button class="class-btn mage-btn" role="mage"></button>
    </div>

    <div class="character-description">
        <p>Select your desired role.</p>
    </div>

    <form class="form new-character-form" hidden>
        <p>NAME YOUR CHARACTER</p>
        <input class="form-input" type="text" id="character-name" name="character-name"/>
        <button type="submit">CREATE</button>
        {{!-- <div class="form-group">
            <input class="form-input" type="text" id="character-name" name="character-name"/>
        </div>
        <div class="form-group">
            <button type="submit">CREATE</button>
        </div> --}}
    </form>
</div>


<script src="../../js/create.js"></script>