<section class="create-character">
    <section class="create-select">
        <div class="create-tile {{{get_static_right 'warrior'}}}" role="warrior"></div>
        <div class="create-tile {{{get_static_right 'archer'}}}" role="archer"></div>
        <div class="create-tile {{{get_static_right 'mage'}}}" role="mage"></div>
    </section>
    <section class="create-description">
        <p>Select your desired role.</p>
    </section>
    <form class="name-form" hidden="true">
        <p>NAME YOUR CHARACTER</p>
        <input class="form-input" type="text" id="character-name"/>
    </form>
    <section class="create-btns">
        <button id="create-back">GO BACK</button>
        <button id="create-finish" disabled="true">FINISH</button>
    </section>
</section>

{{!-- Modal for alerts --}}


<script src="../../js/create.js"></script>