<div class="end-container">
    <div class="playscreen-player" id="player"></div>
    <div class="player-stats" id="player-stats">
        <div class="stats-container">
            <button class="btn btn-small" id="attack">-</button>
            <p>HEALTH</p>
            <button class="btn btn-small" id="attack">+</button>
        </div>
        <div class="stats-container">
            <button class="btn btn-small" id="attack">-</button>
            <p>ATTACK</p>
            <button class="btn btn-small" id="attack">+</button>
        </div>
        <div class="stats-container">
            <button class="btn btn-small" id="attack">-</button>
            <p>COUNTER</p>
            <button class="btn btn-small" id="attack">+</button>
        </div>
    </div>
    <button class="btn btn-small" id="return-home">RETURN HOME</button>
</div>


<script src="../../js/end.js"></script>