<div class="end-container">
    <div class="end-player" id="player"></div>
    <p id="points-remaining"></p>
    <div class="player-stats" id="player-stats">
        <div class="stats-container">
            <p class="stat-label">HEALTH: </p>
            <button class="btn btn-small" id="health-down" disabled="true">-</button>
            <p id="health"></p>
            <button class="btn btn-small" id="health-up">+</button>
        </div>
        <div class="stats-container">
            <p class="stat-label">ATTACK: </p>
            <button class="btn btn-small" id="attack-down" disabled="true">-</button>
            <p id="attack">ATTACK</p>
            <button class="btn btn-small" id="attack-up">+</button>
        </div>
        <div class="stats-container">
            <p class="stat-label">COUNTER: </p>
            <button class="btn btn-small" id="counter-down" disabled="true">-</button>
            <p id="counter">COUNTER</p>
            <button class="btn btn-small" id="counter-up">+</button>
        </div>
    </div>
    <button class="btn btn-small" id="return-home">RETURN HOME</button>
</div>


<script src="../../js/end.js"></script>