<h2>Name your character</h2>

<p>Character Image Here</p>

<form class="form new-character-form">
    <div class="form-group">
        <input class="form-input" type="text" id="character-name" name="character-name" />
    </div>
    <div class="form-group">
        <button type="submit">CREATE</button>
    </div>
</form>



<script src="../../js/name.js"></script>