<div class="row">
  <div class="col-auto">
    <h2>Prepare to fight, {{character.name}}!</h2>
  </div>
</div>

<div class="row mb-4">
    <div class="col-md-5">
        <button class="btn btn-small btn-danger" id="attack-btn">ATTACK</button>
        <button class="btn btn-small btn-danger" id="skill-btn">SKILL</button>
        <button class="btn btn-small btn-danger" id="defend-btn">DEFEND</button>
    </div>
</div>

<script src="../public/js/play.js"></script>