<div class="play-container">
  <div class="row">
    <div class="col-auto">
      <h2>Prepare to fight!</h2>
    </div>
  </div>

  <div class="info-container">
    <div class="health-bars-container">
      <div class ="health-bar"id="yourHP">
        <div id="yourHealthBar"></div>
      </div>
      <div class="turn-counter">Turn 0</div>
      <div class ="health-bar" id="enemyHP">
        <div id="enemyHealthBar"></div>
      </div>
    </div>
    <div class="name-container">
      <p class="player-name"></p>
      <p class="opponent-name"></p>
    </div>
  </div>

  <div class="character-container">
    <div class="player">
      <div class="player-model"></div>
    </div>

    <div class="opponent">
      <div class="opponent-model"></div>
    </div> 
  </div>

  <div class="play-buttons">
    {{!-- These are the buttons used to control your character. --}}
    <button class="btn btn-small" id="attack">ATTACK</button>
    <button class="btn btn-small" id="counter">COUNTER</button>
    
    
  </div>

  {{!-- This will display the actions that are being committed. --}}
  <div><p id="announcements"></p></div>

  <div class="btn btn-small" id="end-game" style="display: none">END</div>
</div>

<script src="../../js/play.js" type="module"></script>