.homepage-render {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  margin: 4%;
  border: #e6e6e6;
  border-style: outset;
  border-width: 8px;
}

.play-for-free {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.play-for-free a:link {
  text-decoration: none;
}
.play-for-free:hover {
  background-color: #fff;
  text-decoration: none;
}

.play-for-free:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);

  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
  text-decoration: none;
}

.create-character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.character-tile {
  display: flex;
  flex-direction: row;
}

.class-btn {
  padding: 0px;
  margin: 8px;
  width: 192px;
  height: 192px;
  background-size: 100%;
  border-width: 2px;
}

.warr-btn { background-image: url("../images/warr-static-right.png"); }
.arch-btn { background-image: url("../images/archer-standing.png"); }
.mage-btn { background-image: url("../images/mage-static-right.png"); }

.class-btn:focus { border-width: 4px; }
.warr-btn:focus { background-image: url("../images/warr-walk-right.gif"); }
.arch-btn:focus { background-image: url("../images/archer-attack-2x.gif"); }
.mage-btn:focus { background-image: url("../images/mage-walk-right.gif"); }

.warr-btn { background-image: url("../images/warr-static-right.png"); }
.arch-btn { background-image: url("../images/archer-static-right.png"); }
.mage-btn { background-image: url("../images/mage-static-right.png"); }

.class-btn:focus { border-width: 4px; }
.warr-btn:focus { background-image: url("../images/warr-walk-right.gif"); }
.arch-btn:focus { background-image: url("../images/archer-shoot-right.gif"); }
.mage-btn:focus { background-image: url("../images/mage-walk-right.gif"); }

/* userhome styles */
.userhome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.player-character-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.player-character-list p {
    margin: 0;
    padding: 8px;
}

.player-character {
  border-color: #e6e6e6;
  border-style: solid;
  text-decoration: none;
  color: black;
}
.player-character:link {
  text-decoration: none;
}
.player-character:active {
  text-decoration: none;
}
.player-character:visited {
  text-decoration: none;
}
.player-character:hover {
  text-decoration: none;
  color: black;
}

.selected-character {
  border-color: black;
}

.new-character-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.new-character-form p {
  margin-top: 16px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .play-for-free {
    min-width: 120px;
    padding: 0 25px;
  }
}

/* for /play page */
#healthContainer {
  width: 100%;
  display: flex;
}

button {
  background: #eee;
  padding: 10px 25px;
  margin-bottom: 15px;
  display: block;
}

#yourHP,
#enemyHP {
  position: relative;
  height: 30px;
  width: 250px;
  border: black 3px solid;
  border-radius: 3px;
  margin-right: 20px;
  display: inline-block;
}

#yourHealthBar,
#enemyHealthBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: lightgreen;
}

#announcements {
  border: black 2px solid;
  background-color: lightgrey;
}

#announcements span {
  color: darkred;
}

#btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}

.character-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playscreen-player {
  height: 192px;
  width: 192px;
  background-color: lightcoral;
  background-repeat: no-repeat;
  background-position: center;
}

.playscreen-opponent {
  height: 192px;
  width: 192px;
  background-color: aquamarine;
  background-size: 100%;
}

.warr-walk-right { background-image: url("../images/warr-walk-right.gif"); }
.arch-walk-right { background-image: url("../images/archer-attack-2x.gif"); }
.mage-walk-right { background-image: url("../images/mage-walk-right.gif"); }

.warr-attack-right {
  background-image: url("../images/warr-attack-right.gif");
  background-size: 100%;
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: shake-horizontal 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
